#flag-country {
    width: 24px;
    height: 24px;
}

table.dataTable {
    width: 100% !important;
    border-spacing: 0;
    border-collapse: collapse;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

tfoot select, select[aria-controls=dataTables] {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

td.highlight {
    background-color: whitesmoke !important;
}

div.input label {
    font-weight: bold;
}

.btn-success, .btn-danger {
    margin-right: 15px;
}

input {
    margin-bottom: 0;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}

.add-on-left {
    -webkit-border-radius: 4px 0 0 4px !important;
    border-radius: 4px 0 0 4px !important;
}

.progress-green .bar {
    background-color: darkcyan !important;
}

.progress {
    background-image: -webkit-linear-gradient(top, #00ba8b, #00ba8b);
    height: 6px;
    margin-bottom: 0 !important;
}

/*.widget-box:not(.visible) {
    display: none;
    transform: scale(0,1) translate(-150px);
}*/

.widget-box {
    visibility: hidden;
    position: fixed;
    -webkit-transform: scale(0,1) translate(-150px);
}

.widget-box.visible {
    visibility: visible;
    position: relative;
    z-index: auto;
    transform: scale(1,1) translate(0);
    -webkit-transition: -webkit-transform .3s ease;
}

.form-error {
    border-color: red !important;
}

.error-message {
    color: red;
}

.main {
    border-bottom: none;
}

/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/
